<div id="menu" class="btn-group-vertical">
  <button id="pause-resume" type="button" class="btn btn-secondary" title="Stop graph animation">
    <i class="fa fa-pause"></i>
  </button>
  <button id="back-center" type="button" class="btn btn-secondary" title="Back to the graph center">
    <i class="fa fa-crosshairs"></i>
  </button>
  <button id="new_graph" type="button" class="btn btn-secondary" title="Generate new graph">
    <i class="fa fa-asterisk"></i>
  </button>
  <button id="add-link" type="button" class="btn btn-secondary" title="Add a link between two nodes">
    <i class="fa fa-plus-square"></i>
  </button>
</div>

<script type="text/javascript">
  $( document ).ready(function() {
    // Get data to place in graph.
    getData();

    // Btn pause resume visual logic.
    $('#pause-resume').click(function() {
      if ($('#pause-resume i').attr('class') == "fa fa-pause") {
        pause();
        $('#pause-resume i').attr('class', 'fa fa-play');
        $('#pause-resume i').attr('title', 'Resume graph animation');
      }
      else {
        resume();
        $('#pause-resume i').attr('class', 'fa fa-pause');
        $('#pause-resume i').attr('title', "Stop graph animation");
      }
    });

    $('#back-center').click(function(){
      reset();
    });

    // Generate a new graph.
    $('#new_graph').click(function() {
      dispose();
      getData();
    });

    $("#add-link").click(function(){
      $("body").css("cursor","crosshair");
      alert("Please, select two nodes to add the link or press ESC to cancel.")
      addLink();
    });
  });
</script>
