<button id="pause_resume" type="button">Pause</button><br></br>
<button id="reset" type="button">Back to the center</button>

<script type="text/javascript">
  $( document ).ready(function() {
    $.ajax({
       type: "GET",
       contentType: "application/json; charset=utf-8",
       url: 'data',
       dataType: 'json',
       success: function (data) {
           main(data);
       }
     });

    $('#pause_resume').click(function(){
      if ($(this).text() == "Pause") {
        pause();
        $(this).text("Resume");
      }
      else {
        resume();
        $(this).text("Pause");
      }
    });

    $('#reset').click(function(){
      reset();
    });
  });
</script>
