<!DOCTYPE html>
<html>
  <head>
    <title>VivagraphApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <style type="text/css" media="screen">
      html, body, svg { width: 100%; height: 100%;}
      #menu {
        position: absolute;
        left: 0;
        top: 0;
        width: 5%; 
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
